<h1>This is the nav bar</h1>
<nav>
    <a routerLink="/">Start</a> |
    <a routerLink="/audio">Audio</a> |
    <a routerLink="/text">Text</a> |
    <a routerLink="/load-images/10">Load 10 Images</a> |
    <a routerLink="/load-images/20">Load 20 Images</a> |
    <a routerLink="/load-images/50">Load 50 Images</a> |
    <a routerLink="/load-images/80">Load 80 Images</a> |
    <a routerLink="/load-videos/10">Load 10 Videos</a> |
    <a routerLink="/load-videos/20">Load 20 Videos</a> |
    <a routerLink="/load-videos/50">Load 50 Videos</a> |
    <a routerLink="/load-videos/80">Load 80 Videos</a> 
</nav>